
/* SPI1 configuration for SD card (HW-125 module) */
/ {
	aliases {
		sd-cd = &sd_cd;
	};

	chosen {
	#ifdef CONFIG_USB_DEVICE_STACK_NEXT
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	#else
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	#endif
	};

	sd_inputs {
		compatible = "gpio-keys";

		sd_cd: sd_card_detect {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SD_CD";
		};
	};
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 31)>;
		};
		group2 {
			psels = <NRF_PSEL(SPIM_MOSI, 1, 6)>;
			bias-pull-up;
		};
		group3 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 30)>;
			bias-pull-up;
		};
	};
	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 31)>;
		};
		group2 {
			psels = <NRF_PSEL(SPIM_MOSI, 1, 6)>;
			bias-pull-up;
			low-power-enable;
		};
		group3 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 30)>;
			bias-pull-up;
			low-power-enable;
		};
	};

	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
		};
	};
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
			low-power-enable;
		};
	};
};

#ifdef CONFIG_USB_DEVICE_STACK_NEXT
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
#endif

&spi1 {
	status = "okay";
	cs-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <25000000>;

		sdmmc0: sdmmc-disk {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&led0 {
	gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
	label = "LED_SCAN";
};

&led1 {
	gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
	label = "LED_CONN";
};

&button0 {
	gpios = <&gpio1 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	label = "BUTTON";
};

